<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Book List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   
    <div *ngFor="let item of myBook" >
      <ion-button type="button" expand="block" color="secondary" [routerLink]="['/page1']" [state]="{id:item.Name}" > {{item.Name}} / {{item.author}}</ion-button>
    </div>
    <ion-label position="floating" color="primary" >Your total books: {{total}}</ion-label>
    <ion-button (click)='refresh()' >Refresh Books</ion-button>
</ion-content>
