ion-label{
  font-size: large;
  font-weight:bold
}
ion-input{
  background: #d0ebb7 !important;
  opacity: 0.3;
  margin: 5px;
}

ion-content{
  background: #d0ebb7 !important;
}

ion-button{
  margin-left: 30px;
  margin-right: 30px;
  display: block;

}

ion-header{
  background: #05eeff !important;
  border-radius: 30%;
}
